.shop-single
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 10;
  background-color: #FFFFFF;

  .container
  {
    height: calc(100% - 44px);
    box-sizing: border-box;
    padding: 16px;
    overflow: scroll;
  }

  .head
  {
    padding: 0 16px;
    background-color: #000000;
    box-sizing: border-box;
    height: 44px;
    position: relative;

    button
    {
      background-color: transparent;
      margin: 0;
      padding: 0;
      border: none;
      position: absolute;
      top: 50%;
      right: 16px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
    }
  }
}
