a
{
  color: #007bff;
  text-decoration: none;
}

.app-body
{
  height: calc(100% - 50px - env(safe-area-inset-bottom));
}

.app-footer
{
  position: absolute;
  bottom: calc(0 + env(safe-area-inset-bottom));
  width: 100%;
  height: 50px;
  background-color: #ffffff;
  border-top: 1px solid #cccccc;
  --safe-area-inset-bottom: env(safe-area-inset-bottom);
  z-index: 9999;
}

@media only screen and (max-width: 960px) {
  .app-footer
  {
    position: fixed;
  }
}
