*
{
  padding: 0;
  margin: 0;
}

img
{
  max-width: 100%;
  height: auto;
}

html, body
{
  width: 100%;
  height: 100%;
  background-color: #EE730F;
}

.branding
{
  margin-bottom: 40px;
  .logo
  {
    font-family: "Nico Moji";
    font-size: 72px;
  }
  .link
  {
    font-size: 16px;
  }
  .image
  {
    width: 96px;
    height: 96px;
    display: block;
    margin: auto;
  }
}
